.form-login .control-group {
  margin-bottom: 10px;
  *zoom: 1;
  text-align: center;

}

.form-login .control-group:before,
.form-login .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-login .control-group:after {
  clear: both;
}

.form-login .control-label {
  float: left;
  width: 575px;
  padding-top: 5px;
  text-align: right;
}

.form-login .controls {
  *display: inline-block;
  *padding-left: 20px;
  *margin-left: 0;
  text-align: center;
}

.form-login .controls:first-child {
  *padding-left: 180px;
}

.form-login .help-block {
  margin-bottom: 0;
}

.form-login input + .help-block,
.form-login select + .help-block,
.form-login textarea + .help-block {
  margin-top: 10px;
}

.form-login .form-actions {
  padding-left: 180px;
}

.form-facebook{
  text-align: center;
}
.form-facebook h1{
  margin: 10px 0 20px 0;
  font-size: 30px;
  font-weight: bold;
}

#login-exam{
  height: 160px;
}

.form-mypic{
}

#join-left{
  right:60%;
  float:left;
  margin-top: 25px;
}

#join-right{
  margin:10px 10px 0px 10px;
  float:left;
}

#join-under{text-align: center; clear:both;}

#content-login{
  text-align: center;
}
