/* basic style */
h1{ font-size:20px; text-align:center; font-weight: bold;}
a:visited, a:link{color: #000; text-decoration: none;}
a:hover, a:active{color: #C23700;}
/* layout */
.main-top{
	clear: both;
	margin: 0 auto;
	width: 80%;
	height: 40px;
}
#top2{
	height:240px;
}
#top{
	width:100%;
	height:180px;
	clear:both;


	background: white;
	padding:0;
	padding-bottom:10px;
}
.fixed{
	position:fixed;
	top:-1px;
	left:0px;
}
#top-exam{
	width:10%;
	height: 155px;
	top:10px;
	float: left;
	margin: 0;
}
#top-exam2{
	width:8%;
	height: 155px;
	top:10px;
	float: right;
}
#top-center{
	width:28%;
	height: 155px;
	top:10px;
	float:left;
	text-align: center;
	padding-left: 15px;
}
#top-center div{
	margin-top: 20px;
	}
#top-center span{
	font: 12px/18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim";
}

#top-left{
	width:26%;
	height: 155px;
	top:10px;
	float:left;
}
#top-right{
	width:25%;
	height:155px;
	top:10px;
	padding: 15px 0;
	overflow:auto;
	float: left;
	text-align: right;

}
#content{
	width:80%;
	margin : 0 auto;
	border: 0;
}
#content-login{
	text-align: center;
}

#footer{
	width: 70%;
	height: 20px;
	padding-top: 10px;
	text-align: center;
	margin: 0 auto;	
	background: white;
}
#footer a{
	padding: 0 12px;
}
#top-btn{
	margin: 0 auto;
	width:80%;
	height:40px;
}