
.text {
	float: left;
	width: 400px;
	padding-top: 5px;
	text-align: right;

}
.legend {
	text-align: center;
}

.form-action {
	text-align:center;
	height: 90px;
}
.signupInput{
	text-align: center;
	margin-right: 170px;
}
